@model EmployeeListVM

@{ 
    var name = Model.Employee.FirstName + " " + Model.Employee.MiddleName + " " + Model.Employee.LastName;
    var imagePath = "/images/" + (Model.Employee.ImagePath ?? "placeholder.png");
    var isPunched = Model.IsPunchedIn == true ? 1 : 0;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Yashas Gowda">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/home_style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>Employees</title>
</head>
<body onload="startTime();checkAttandance(@isPunched);">
    <div class="container">
        <div class="left">
            <div class="icon_section">
                <img src="~/assets/icon_white.png" alt="logo" />
                <h3>HRM</h3>
            </div>

            <div class="nav_section">
                <ul>
                    <li><a asp-controller="admin" asp-action="dashboard">Dashboard</a></li>
                    <li class="current"><a asp-controller="admin" asp-action="employeelist">Employees</a></li>
                    <li><a asp-controller="admin" asp-action="attendances">Attendance</a></li>
                    <li><a asp-controller="admin" asp-action="policy">Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="clock_section">
                <h2 id="clock"></h2>
            </div>
            <div class="punch_section">
                <input id="logout" type="button" value="Logout" onclick="location.href = '@Url.Action("logout", "admin")'" />
                <input id="check_out" type="button" value="Check Out" onclick="hideCheckOutBtn();location.href = '@Url.Action("CheckOutFromEmployees", "admin")';" />
                <input id="check_in" type="button" value="Check In" onclick="hideCheckInBtn();location.href = '@Url.Action("CheckInFromEmployees", "admin")';" />
                <img src="@imagePath" />
                <h3>@name</h3>
            </div>

            <div class="employees_section">
                <!--Employee list secction-->
                <div class="list_header">
                    <h3>Employees</h3>
                    <button id="add_btn" onclick="openDialog()">ADD EMPLOYEE</button>
                </div>

                <!--Employees-->
                @foreach (var emp in Model.Employees) {
                    string role = emp.Role == true ? "Admin" : "Employee";
                    var image = "/images/" + (emp.ImagePath ?? "placeholder.png");
                    var fullName = emp.FirstName + " " + emp.MiddleName + " " + emp.LastName;

                    <div class="employee_item">
                        <img src="@image" />
                        <h3>@fullName</h3>
                        <p id="role">@role</p>
                        <p id="dept">@emp.Dept</p>
                        <p id="email">@emp.EmailAddress</p>
                        <p>@emp.MobileNo</p>
                    </div>
                }
            </div>

            <!-- Edit dialog section -->
            <div id="add_dialog" class="dialog">
                <div class="dialog_content">

                    <form enctype="multipart/form-data" asp-controller="admin" asp-action="addemployee" method="post" class="mt-3 needs-validation" novalidate>

                        <!--Role-->
                        <div class="form-group row">
                            <label asp-for="Role" class="col-sm-2 col-form-label">Role</label>
                            <div class="col-sm-10">
                                <select asp-for="Role" class="custom-select mr-sm-2"
                                        asp-items="Html.GetEnumSelectList<Role>()" required>
                                    <option value="">Please select</option>
                                </select>
                                <div class="invalid-feedback">Role is mandatory</div>
                            </div>
                        </div>
                        <!--First Name-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input asp-for="FirstName" class="form-control" required>
                                <div class="invalid-feedback">First name is mandatory</div>
                            </div>
                        </div>
                        <!--Middle Name-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Middle Name</label>
                            <div class="col-sm-10">
                                <input asp-for="MiddleName" class="form-control">
                            </div>
                        </div>
                        <!--Last Name-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input asp-for="LastName" class="form-control" required>
                                <div class="invalid-feedback">Last name is mandatory</div>
                            </div>
                        </div>
                        <!--Department-->
                        <div class="form-group row">
                            <label asp-for="Dept" class="col-sm-2 col-form-label">Department</label>
                            <div class="col-sm-10">
                                <select asp-for="Dept" class="custom-select mr-sm-2"
                                        asp-items="Html.GetEnumSelectList<Dept>()" required>
                                    <option value="">Please select</option>
                                </select>
                                <div class="invalid-feedback">Department is mandatory</div>
                            </div>
                        </div>
                        <!--Gender-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                                <input asp-for="Gender" class="form-control" required>
                                <div class="invalid-feedback">Gender is mandatory</div>
                            </div>
                        </div>
                        <!--DOB-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">DOB</label>
                            <div class="col-sm-10">
                                <input type="date" asp-for="DOB" class="form-control" required>
                                <div class="invalid-feedback">Birthday is mandatory</div>
                            </div>
                        </div>
                        <!--Home Address-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input asp-for="HomeAddress" class="form-control" required>
                                <div class="invalid-feedback">Home address is mandatory</div>
                            </div>
                        </div>
                        <!--Tell Number-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tell No.</label>
                            <div class="col-sm-10">
                                <input asp-for="TellNo" class="form-control">
                            </div>
                        </div>
                        <!--Mobile Number-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Mobile No.</label>
                            <div class="col-sm-10">
                                <input asp-for="MobileNo" class="form-control" required>
                                <div class="invalid-feedback">Mobile number is mandatory</div>
                            </div>
                        </div>
                        <!--Email Address-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input asp-for="EmailAddress" class="form-control" required>
                                <div class="invalid-feedback">Email ID is mandatory</div>
                            </div>
                        </div>
                        <!--Password-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input 
                                       asp-for="Password" 
                                       class="form-control" 
                                       onmouseover="this.type='text'"
                                       onmouseout="this.type='password'" required>
                                <div class="invalid-feedback">Password is mandatory</div>
                            </div>
                        </div>
                        <!--Image-->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Image</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input asp-for="ImagePath" class="form-control custom-file-input">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <!--Submit Button-->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Add Employee</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/list_script.js"></script>
</body>
</html>